<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUAREtoi3Zp0hHUnnfp_uPODAb454dyQs</string>
	<key>GCM_SENDER_ID</key>
	<string>1081637211135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davalcato.NutriVibe</string>
	<key>PROJECT_ID</key>
	<string>nutrivibe-8a721</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrivibe-8a721.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081637211135:ios:05aaf5a6b5404824d9f5ca</string>
</dict>
</plist>